* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  background-color: #d3d3d3;
}

header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav ul {
  list-style-type: none;
}

header .nav ul li {
  display: inline-block;
  margin: 10px 0px;
  font-size: 24px;
  font-weight: 400;
}

header .nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  color: #838996;
}

header .nav ul li a:hover {
  color: #43b3ae;
}

#home,
#biscotto {
  background-color: #838996;
  height: 100vh;
}

#biscotti,
#form {
  background-color: #838996;
}

#biscotti h1,
#home h1,
#biscotto h1,
#form h1 {
  color: #d3d3d3;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

#biscotti .card-container,
#home .card-container,
#biscotto .card-container,
#form .card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

#biscotti .card-container .card,
#home .card-container .card,
#biscotto .card-container .card,
#form .card-container .card {
  width: 250px;
  height: 250px;
  border: 2px solid #d3d3d3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  background-color: #838996;
}

#biscotti .card-container .card p,
#home .card-container .card p,
#biscotto .card-container .card p,
#form .card-container .card p {
  margin-top: 10px;
}

#biscotti .card-container .card p:last-child,
#home .card-container .card p:last-child,
#biscotto .card-container .card p:last-child,
#form .card-container .card p:last-child {
  margin-bottom: 10px;
}

#biscotti .card-container .card a,
#home .card-container .card a,
#biscotto .card-container .card a,
#form .card-container .card a {
  text-decoration: none;
  color: #d3d3d3;
  margin-top: 10px;
}

