* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: #d3d3d3;
}

header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav ul {
  list-style-type: none;
}

header .nav ul li {
  display: inline-block;
  margin: 10px 0px;
  font-size: 24px;
  font-weight: 400;
}

header .nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  color: #838996;
}

header .nav ul li a:hover {
  color: #43b3ae;
}

#home,
#biscotto {
  background-color: #838996;
  height: 100vh;
}

#biscotti,
#form {
  background-color: #838996;
}

#biscotti h1,
#home h1,
#biscotto h1,
#form h1 {
  color: #d3d3d3;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

#biscotti .container,
#home .container,
#biscotto .container,
#form .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#biscotti .container a.inserisci,
#home .container a.inserisci,
#biscotto .container a.inserisci,
#form .container a.inserisci {
  margin: 20px 0px;
  display: block;
}

