#home, #biscotto{
    background-color: $color_text;
    height: 100vh;
}

#biscotti, #form{
    background-color: $color_text;
}

#biscotti, #home, #biscotto, #form{

    h1{
        color: #d3d3d3;
        font-size: 30px;
        text-align: center;
        padding-top: 30px;
    }

    .container{
        @include flex-column(column,center,center);

        a.inserisci{
            margin: $big_space 0px;
            display: block;
        }
    }



}
